:root {
  scroll-behavior: smooth;
  --one: #008fd7;
  --two: white;
  --three: black;
}

*,
html {
  padding: 0;
  margin: 0 0 0 0;
}

body {
  font-family: "Poppins", Tahoma, Geneva, Verdana, sans-serif;
}

/* Header */
.navbar {
  background-color: var(--one);
  color: var(--one);
}
.navbar-brand {
  font-family: "Pacifico";
}

.navbar-toggler {
  color: var(--one);
}

/* Hero Section */
.hero {
  margin-top: 7rem;
}

span {
  color: var(--one);
}

.aside-foto {
}

.btn {
  color: var(--two);
  background-color: var(--one);
  transition: all 0.3s;
}

.btn:hover {
  color: var(--two);
  background-color: #0d6e9f;
}

/* Skills */
.skills {
  margin-top: 10rem;
}

.img-s1 {
  width: 50px;
  height: 50px;
}

.img-s2 {
  width: 50px;
  height: 50px;
}

.img-s3 {
  width: 50px;
  height: 50px;
}

/* Project */
.img-p1 {
  width: 100%;
  height: 100%;
}

.img-p2 {
  width: 100%;
  height: 100%;
}

/* Certificate */

.img-c1 {
  width: 100%;
  height: 100%;
}

.img-c2 {
  width: 100%;
  height: 100%;
}

.img-c3 {
  width: 100%;
  height: 100%;
}

.h4-c {
  font-size: 25px;
}

.h5-c {
  font-size: 20px;
}

.h6-c {
  font-size: 15px;
}

/* Social Media */
.bi-instagram {
  text-decoration: none;
}

.bi-whatsapp {
  text-decoration: none;
}

.bi-github {
  text-decoration: none;
}

@media screen and (min-width: 769px) and (max-width: 992px) {
  /* Header */
  .header {
    margin-top: 15px;
  }

  /* Hero Section */
  .hero {
    margin-top: 30px;
  }

  .hero-text {
  }

  .text-2 {
    font-size: 45px;
  }

  .text-3 {
  }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
  /* Header */
  .header {
    margin-top: 15px;
  }

  /* Hero Section */
  .hero {
    margin-top: 30px;
  }

  .hero-text {
  }

  .text-2 {
    font-size: 33px;
  }

  .text-3 {
    font-size: 30px;
  }
}

@media screen and (min-width: 421px) and (max-width: 576px) {
  /* Header */
  .header {
    margin-top: 10px;
  }

  /* Hero Section */
  .hero {
    margin-top: 30px;
  }

  .hero-text {
  }

  .text-1 {
    font-size: 18px;
  }

  .text-2 {
    font-size: 22px;
  }

  .text-3 {
    font-size: 20px;
  }

  .foto {
  }
}

@media screen and (min-width: 320px) and (max-width: 420px) {
  body {
    background-color: #008fd7;
  }

  /* Header */
  .header {
    margin-top: 10px;
  }

  /* Hero Section */
  .hero {
    margin-top: 15px;
  }

  .hero-text {
  }

  .text-1 {
    font-size: 15px;
  }

  .text-2 {
    font-size: 21px;
  }

  .text-3 {
    font-size: 17px;
  }
}

/* Skills */
